.links{
  display: flex;
  column-gap: 32px;
}

.live{
  color: black;
}

.code{
  color: black;
}

.boxTopIntProj{
  display: flex;
  column-gap: 256px;
  justify-content: center;
}

.pictures{
  display: flex;
}