.section{
  opacity: 0;
  cursor: pointer;
}

.rectangle{
  width:50px;
  height: 2px;
  background-color: black;
}
.wrapper{
  position: fixed;
  top: 200px;
  left: 0px;
}

.wrapper:hover .section{
  opacity: 1;
  transition: 2s;
}

.wrapper:hover .rectangle{
  opacity: 0;
}